/* El orden no afecta la prioridad de estilos
Si body estuviera antes igualmente h1 terminaría siendo rojo porque
la etiqueta es más cercano al elemento HTML */

* {
  margin: 0;
  margin-left: 5px;
  padding: 5px;
}

h1, h2 {
  color: red;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 30px;
  font-family: Candara, Arial, Times New Roman, Verdana, sans-serif;
}

body {
  background-color: black;
  font-family: Verdana, sans-serif;
  color: #ffcc22;
}

.encabezados {
  margin-left: 30px;
  padding-bottom: 10px:
  color: #ffffff;
  font-size: 40px
}

p {
  font-family: Open Sans, sans-serif;
}

a {
  text-decoration: none; /* se saca el subrayado de los links */
  color: #dcd;
  display: flex;
}

.encabezados {
  margin-left: 30px;
  padding-bottom: 10px:
  color: #ffffff;
  font-size: 40px
}

#izquierda {
    display: inline-block;
    width: 50%;
}
#derecha {
    display: inline;
}
